
.detail__main {
    height: 100vh;
}

.detail__main .detail__main--info > .ad{
    border: 2px solid rgb(16, 199, 16);
    margin-top: 150px;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    padding: 1rem;
    margin-bottom: 150px;
}

.detail__main .detail__main--info > .ad > img {
    width: 30%;
}